/* Adding CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(242, 240, 252);
}

.upper-container {
  min-height: 100vh;
}

.top-card {
  width: 100%;
  height: 35vh;
}

/* bar-chart */
.bottom-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
}

.bottom-left-card,
.bottom-right-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 65vh;
}

.card-header {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #201c21;
}

.bottom-left-card h2,
.bottom-right-card h2 {
  margin: 20px 0 10px 0;
  color: white;
}

.chart-wrapper {
  width: 90%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(40, 165, 90);
  background-color: rgb(144, 129, 155);
}

#sub-category,
#country {
  width: 600px !important;
  height: 300px !important;
}

.filter {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter .sort {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter label {
  margin-right: 10px;
}

.filter select,
.filter input[type="checkbox"] {
  margin-right: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 14px;
}

.filter select {
  width: 120px;
}

.filter input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.filter input[type="checkbox"]:checked {
  background-color: #22ff00;
}

.mid-container {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pie-header {
  width: 90%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #201c21;
}

.pie-chart {
  width: 90%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(40, 165, 90);
  background-color: rgb(144, 129, 155);
}

#category-revenue {
  width: 50% !important;
  max-width: 600px !important;
  max-height: 400px;
  height: auto;
}

.bottom-container {
  margin-top: 40px;
  min-height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: tomato;
}

.gender-container {
  width: 90%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gender-header {
  width: 100%;
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.gender-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  border: solid rgb(40, 165, 90);
  background-color: rgb(144, 129, 155);
}

#gender-revenue {
  width: 800px !important;
  margin-bottom: 40px;
}

.age-container {
  width: 90%;
  height: 70vh;
  /* background-color: purple; */
}

/* datatable */
.datatable-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dataTable {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
}

.dataTable th,
.dataTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.dataTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.dataTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dataTable tr:hover {
  background-color: #ddd;
}

/* filtring dropdown checkbox */
.multiselect {
  width: 100%;
  position: relative;
  padding: 12px;
  box-sizing: border-box;
}
.selectBoxCategory select,
.selectBoxCountries select,
.selectBoxGender select,
.selectBoxAge select {
  width: 100%;
  padding: 10px;
}
.overSelect {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#categoryCheckboxes,
#countriesCheckboxes,
#genderCheckboxes,
#ageCheckboxes {
  display: none;
  position: absolute;
  border: 1px gray solid;
  border-radius: 4px;
  width: 120%;
  background-color: white;
  z-index: 10;
  top: 90%;
  box-sizing: border-box;
  padding: 10px;
}
#categoryCheckboxes label,
#countriesCheckboxes label,
#genderCheckboxes label,
#ageCheckboxes label {
  font-weight: 400;
  font-size: 15px;
  display: block;
  color: black;
  padding: 4px;
}
.multiSelectCategory,
.multiSelectCountries,
.multiSelectGender,
.multiSelectAge {
  width: 100%;
}
.selectBoxCategory:hover,
.selectBoxCountries:hover,
.selectBoxGender:hover,
.selectBoxAge:hover {
  cursor: pointer;
}
.displayerDropdownCheckbox {
  display: block !important;
  border: 1px solid black;
}
.container-filtering-category {
  display: flex;
  justify-content: space-around;
}

/* responsive */
@media screen and (max-width: 768px) {
  .bottom-card {
    flex-direction: column;
  }
}
